body {
	background-image: url(https://vignette.wikia.nocookie.net/mugen/images/b/bb/Deadpool_Movie.jpg/revision/latest?cb=20161108011949)

}

#text {
	color: lightgrey;
}

#check {
	color: lightgrey;
	font-size: 100px;
}